*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px;
}
  
.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-height: 1000px;
}

.login-container {
    color: black;
    background-color: #ffffff;
    padding: 2rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 50%;
    max-height: 500px;
    width: 50%;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.text-container {
    color: white;
    background-color: #6C2365;
    padding: 2rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 50%;
    max-height: 500px;
    width: 50%;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}
  
.welcome-message {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: bold;
}
  
.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}
  
label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.login-button:hover {
    background-color: #45a049;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
  
.alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
  
.alert-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.signup-link {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #28a745;
    padding-bottom: 2px;
    transition: color 0.3s ease;
}

.signup-link:hover {
    color: #1e7e34;
}

/*======================================================================================================================*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
  
.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
  
.nav a {
    display: flex;
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1em;
}
  
.nav a:hover {
    text-decoration: underline;
}

.btn-danger {
    width: 100%;
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #dc3545;
    color: white;
}
  
.btn-danger:hover {
    background-color: #c82333;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.custom-table thead tr {
    background-color: #eee;
    color: black;
    text-align: left;
}

.custom-table th,
.custom-table td {
    padding: 12px 15px;
}

.custom-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: white;
}

.custom-table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.btn-danger2 {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #dc3545;
    margin-right: 0.5rem;
}

.btn-danger2:hover {
    background-color: #c82333;
}

.btn-success {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #28a745;
    margin-right: 0.5rem;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-container {
    display: flex;
}

.cadmenssage {
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}
  
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

.nav form {
    display: inline-block;
    margin-left: 10px;
}

.coluna {
    color: black;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 70%;
    max-height: 600px;
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.coluna2 {
    color: black;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 50%;
    max-height: 500px;
    width: 50%;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coluna p {
    margin-bottom: 1rem;
}

.coluna h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.btn-primary {
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #28a745;
    margin-right: 0.5rem;
}

.btn-primary:hover {
    background-color: #218838;
}

.marginb {
    margin-top: 1rem;
}

.btn-danger3 {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #dc3545;
    margin-right: 0.5rem;
    margin-top: 2rem;
}

.btn-danger3:hover {
    background-color: #c82333;
}

.error_messages {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: #721c24; /* Texto vermelho escuro */
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
}
  
.error_messages h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
  
.error_messages ul {
    list-style-type: disc;
    margin-left: 20px;
}